<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>Admin</title>

		<link rel="stylesheet" href="/css/admin.css">
		<link rel="stylesheet" href="/css/main.css">
		<link rel="stylesheet" href="/css/normalize.css">
		<link rel="stylesheet" href="/css/materialize.css">
		<link rel="stylesheet" href="/css/my-theme.css">
		
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Muli|Oswald&display=swap" rel="stylesheet">

		<meta name="theme-color" content="#fafafa">

	</head>
	<body>
		<nav id="menu">
			<div class="nav-wrapper">
				<a href="#" id="logo" class="brand-logo">UCMH</a>
				<a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
				<ul id="nav-mobile" class="right hide-on-med-and-down">
						<a class="waves-effect waves-light btn">Registrar psicologo</a>
						<a class="waves-effect waves-light btn">Registrar paciente</a>
						<a class="waves-effect waves-light btn">Cerrar sesión</a>
				</ul>
			</div>
		</nav>

		<!-- Menú desplegable mobile-->

		<ul class="sidenav" id="mobile-demo">
			<li><a>Cerrar sesión</a></li>
		</ul>

		<h4 class="center-align">Panel de administración de <span th:text="${admin.firstName}"></span></h4>

		<div class="row">
			<div class="col s6">
				<ul class="collapsible">
				  <li>
				    <div class="collapsible-header">
				      <p class="user-type-header">
				      	<i class="material-icons">
				      		face
				      	</i>
				      	Psicólogos
				      </p>
				    </div>
				    <div class="collapsible-body">
							<ul id="psychologist-collection" class="card collection">
							
								<li class="collection-item avatar" th:each="psy : ${psychologist_list}">
									<div class="user-info">
					          <img src="/image/ejemplo.jpg" alt="" class="circle">
					          <p class="title" th:text="|${psy.firstName}, ${psy.lastName}|"></p>
					          <p>Id: <span class="user-id" th:text="${psy.id}"></span></p>
					          <p> e-mail: <span th:text="${psy.mail}"></span></p>
										<p> Tlf: <span th:text="${psy.phoneNumber}"></span></p>
									</div>
									<div class="user-delete">
										<button class="delete-psy waves-effect waves-red-darken-4 red lighten-1 btn-flat">
											delete
										</button>
									</div>
				        </li>
				        
			      	</ul>
			      	<div class="users-more-results">
								<button id="less-psychologists" class="waves-effect waves-teal btn-flat">
									<i class="material-icons">chevron_left</i>
								</button>
								<div class="users-results">
									<p>mostrando 10 elementos - pagina <span class="psychologist-page"></span></p>
								</div>
								<button id="more-psychologists" class="waves-effect waves-teal btn-flat">
									<i class="material-icons">chevron_right</i>
								</button>
							</div>
						</div>
				  </li>
				  
				  <li>
				    <div class="collapsible-header">
				      <p class="user-type-header">
				      	<i class="material-icons">face</i>
				      	Pacientes
				      </p>
				    </div>
				    <div class="collapsible-body">
							<ul id="patient-collection" class="card collection">
								<!-- We should load them with AJAX -->
								
								<li class="collection-item avatar" th:each="pat : ${patients_list}">
									<div class="user-info">
					          <img src="/image/ejemplo.jpg" alt="" class="circle">
					          <p class="title" th:text="|${pat.firstName}, ${pat.lastName}|"></p>
					          <p>Id: <span class="user-id" th:text="${pat.id}"></span></p>
					          <p> e-mail: <span th:text="${pat.mail}"></span></p>
										<p> Tlf: <span th:text="${pat.phoneNumber}"></span></p>
									</div>
									<div class="user-delete">
										<button class="delete-pat waves-effect waves-red-darken-4 red lighten-1 btn-flat">
											delete
										</button>
									</div>
				        </li>
								
							</ul>
							<div class="users-more-results">
								<button id="less-patiens" class="waves-effect waves-teal btn-flat">
									<i class="material-icons">chevron_left</i>
								</button>
								<div class="users-results">
									<p>mostrando 10 elementos - pagina <span class="user-page"></span></p>
								</div>
								<button id="more-patiens" class="waves-effect waves-teal btn-flat">
									<i class="material-icons">chevron_right</i>
								</button>
							</div>
						</div>
				  </li>
				</ul>
			</div>

			<div class="col s6">
				<div class="card">
					<div class="card-content">
			      <div class="user-browser">
						  <div class="user-browser-form">
						    <input placeholder="Nombre del usuario" type="text" name="name" id="name">
						  </div>
						  <div class="user-browser-form">
						    <input placeholder="Apellido del usuario" type="text" name="surname" id="surname">
						  </div>
						  <button id="user-browser-browse-button">Buscar</button>
			      </div>
			      <div class="browser-results">
			      	<ul id="browser-collection" class="card collection">
			      		
			      	</ul>
			      </div>
					</div>
				</div>
		</div>


		<script src="/js/vendor/modernizr-3.8.0.min.js"></script>
	  <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
	  <script>window.jQuery || document.write('<script src="/js/vendor/jquery-3.4.1.min.js"><\/script>')</script>
	  <script src="/js/plugins.js"></script>
	  <script src="/js/vendor/materialize.min.js"></script>
	  <script src="/js/admin.js"></script>

		<script>
		$(document).ready(function(){
				$('.sidenav').sidenav();
				$('.collapsible').collapsible();

		});
		</script>

	</body>
</html>