<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>Admin</title>

		<th:block th:replace="fragments/head :: header"></th:block>

		<link rel="stylesheet" href="/css/admin.css">
		<link rel="stylesheet" href="/css/main.css">
		<link rel="stylesheet" href="/css/normalize.css">
		<link rel="stylesheet" href="/css/materialize.css">
		<link rel="stylesheet" href="/css/my-theme.css">
		
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Muli|Oswald&display=swap" rel="stylesheet">

		<meta name="theme-color" content="#fafafa">

	</head>
	<body>
		<nav id="menu">
			<div class="nav-wrapper">
				<a href="#" id="logo" class="brand-logo">UCMH</a>
				<a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
				<ul id="nav-mobile" class="right hide-on-med-and-down">
					<li><a href="#psy-modal" class="waves-effect waves-light btn modal-trigger">Registrar psicologo</a></li>
					<li><a href="#pat-modal" class="waves-effect waves-light btn modal-trigger">Registrar paciente</a></li>
					<li><a href="#pat-modal" th:href="@{/admin/{id}/messages(id = ${admin.id})}" class="waves-effect waves-light btn modal-trigger">Mensajes recibidos</a></li>
					<li><a href="#modal" class="waves-effect waves-light btn modal-trigger">Cerrar sesión</a></li>
				</ul>
			</div>
		</nav>

		<!-- Menú desplegable mobile-->

		<ul class="sidenav" id="mobile-demo">
			<li><a>Cerrar sesión</a></li>
		</ul>

		<h4 class="center-align">Panel de administración de <span th:text="${admin.firstName}"></span></h4>

		<div class="row">
			<div class="col s6">
				<ul class="collapsible">
				  <li>
				    <div class="collapsible-header">
				      <p class="user-type-header">
				      	<i class="material-icons">
				      		face
				      	</i>
				      	Psicólogos
				      </p>
				    </div>
				    <div class="collapsible-body">
							<ul id="psychologist-collection" class="card collection">
							
								<li class="collection-item avatar" th:each="psy : ${psychologist_list}">
									<div class="user-info">
					          <img src="/image/ejemplo.jpg" alt="" class="circle">
					          <p class="title" th:text="|${psy.firstName}, ${psy.lastName}|"></p>
					          <p>Id: <span class="user-id" th:text="${psy.id}"></span></p>
					          <p> e-mail: <span th:text="${psy.mail}"></span></p>
										<p> Tlf: <span th:text="${psy.phoneNumber}"></span></p>
									</div>
									<div class="user-delete">
										<button class="delete-psy waves-effect waves-red-darken-4 red lighten-1 btn-flat">
											delete
										</button>
									</div>
				        </li>
				        
			      	</ul>
			      	<div class="users-more-results">
								<button id="less-psychologists" class="waves-effect waves-teal btn-flat">
									<i class="material-icons">chevron_left</i>
								</button>
								<div class="users-results">
									<p>mostrando <span id="num-elements" th:text="${showNum}"> 10</span> elementos - pagina <span class="psychologist-page"></span></p>
								</div>
								<button id="more-psychologists" class="waves-effect waves-teal btn-flat">
									<i class="material-icons">chevron_right</i>
								</button>
							</div>
						</div>
				  </li>
				  
				  <li>
				    <div class="collapsible-header">
				      <p class="user-type-header">
				      	<i class="material-icons">face</i>
				      	Pacientes
				      </p>
				    </div>
				    <div class="collapsible-body">
							<ul id="patient-collection" class="card collection">
								<!-- We should load them with AJAX -->
								
								<li class="collection-item avatar" th:each="pat : ${patients_list}">
									<div class="user-info">
					          <img src="/image/ejemplo.jpg" alt="" class="circle">
					          <p class="title" th:text="|${pat.firstName}, ${pat.lastName}|"></p>
					          <p>Id: <span class="user-id" th:text="${pat.id}"></span></p>
					          <p> e-mail: <span th:text="${pat.mail}"></span></p>
										<p> Tlf: <span th:text="${pat.phoneNumber}"></span></p>
									</div>
									<div class="user-delete">
										<button class="delete-pat waves-effect waves-red-darken-4 red lighten-1 btn-flat">
											delete
										</button>
									</div>
				        </li>
								
							</ul>
							<div class="users-more-results">
								<button id="less-patiens" class="waves-effect waves-teal btn-flat">
									<i class="material-icons">chevron_left</i>
								</button>
								<div class="users-results">
									<p>mostrando 10 elementos - pagina <span class="user-page"></span></p>
								</div>
								<button id="more-patiens" class="waves-effect waves-teal btn-flat">
									<i class="material-icons">chevron_right</i>
								</button>
							</div>
						</div>
				  </li>
				</ul>
			</div>

			<div class="col s6">
				<div class="card">
					<div class="card-content">
			      <div class="user-browser">
						  <div class="user-browser-form">
						    <input placeholder="Nombre del usuario" type="text" name="name" id="name">
						  </div>
						  <div class="user-browser-form">
						    <input placeholder="Apellido del usuario" type="text" name="surname" id="surname">
						  </div>
						  <button id="user-browser-browse-button">Buscar</button>
			      </div>
			      <div class="browser-results">
			      	<ul id="browser-collection" class="card collection">
			      		
			      	</ul>
			      </div>
					</div>
				</div>
			</div>
		</div>
		
		<div id="psy-modal" class="modal psy-modal">
			<div class="modal-content">
				<h4>Registrar psicologo</h4>
		  <p>Introduce los datos del psicologo:</p>

		  <p class="error-msg-psy" id="error-name-psy"></p>
      	<label for="name-input">Nombre:</label>
		  <input name="name-input" type="text" id="firstName-input-psy" pattern="([a-z]+)">

		  <p class="error-msg-psy" id="error-surname-psy"></p>
      	<label for="last-name-input">Apellido:</label>
		  <input name="last-name-input" type="text" id="lastName-input-psy" pattern="([a-z]+)">

		  <p class="error-msg-psy" id="error-mail-psy"></p>
      	<label for="mail-input">e-mail:</label>
		  <input name="mail-input" type="email" id="mail-input-psy">

		  <p class="error-msg-psy" id="error-phone-psy"></p>
      	<label for="phone-input">Tlf:</label>
		  <input name="phone-input" type="tel" id="phoneNumber-input-psy" pattern="([0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9])">

		  <p class="error-msg-psy" id="error-pass-psy"></p>
      	<label for="pass-input">password:</label>
      	<input name="pass-input" type="text" pattern="([a-zA-Z0-9][a-zA-Z0-9][a-zA-Z0-9][a-zA-Z0-9][a-zA-Z0-9][a-zA-Z0-9][a-zA-Z0-9][a-zA-Z0-9]([a-zA-Z0-9]*))" id="password-input-psy">
			
				<input name="type-input" type="text" value="psy" class="type-input-psy" id="type-input-psy">
			</div>
			<div class="modal-footer">
				<p class="result-register">Result text</p>
				<a class="modal-action waves-effect waves-green  btn-flat accept-user" id="accept-psy">Aceptar</a>
				<a class="modal-action modal-close waves-effect waves-red btn-flat reject-user">Cancelar</a>
			</div>
		</div>
		
		<div id="pat-modal" class="modal pat-modal">
			<div class="modal-content">
				<h4>Registrar paciente</h4>
      	<p>Introduce los datos del paciente:</p>
      	
      	<p class="error-msg-pat" id="error-name-pat"></p>
      	<label for="name-input">Nombre:</label>
      	<input name="name-input" type="text" id="firstName-input-pat" pattern="([a-z]+)">
      	
      	<p class="error-msg-pat" id="error-surname-pat"></p>
      	<label for="last-name-input">Apellido:</label>
      	<input name="last-name-input" type="text" id="lastName-input-pat">
      	
      	<p class="error-msg-pat" id="error-mail-pat"></p>
      	<label for="mail-input">e-mail:</label>
      	<input name="mail-input" type="email" id="mail-input-pat">
      	
      	<p class="error-msg-pat" id="error-phone-pat"></p>
      	<label for="phone-input">Tlf:</label>
      	<input name="phone-input" type="tel" pattern="([0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9])" id="phoneNumber-input-pat">
      	
      	<p class="error-msg-pat" id="error-pass-pat"></p>
      	<label for="pass-input">password:</label>
      	<input name="pass-input" type="text" pattern="([a-zA-Z0-9][a-zA-Z0-9][a-zA-Z0-9][a-zA-Z0-9][a-zA-Z0-9][a-zA-Z0-9][a-zA-Z0-9][a-zA-Z0-9]([a-zA-Z0-9]*))" id="password-input-pat">
      	
      	<input name="type-input" type="text" value="user" class="type-input-pat" id="type-input-pat">
			</div>
			<div class="modal-footer">
				<p class="result-register">Result text</p>
				<a class="modal-action waves-effect waves-green btn-flat accept-user" id="accept-pat">Aceptar</a>
				<a class="modal-action modal-close waves-effect waves-red btn-flat reject-user">Cancelar</a>
			</div>
		</div>
		

		<th:block th:replace="fragments/footer :: jslibs"></th:block>
		<script src="/js/admin.js"></script>

		<script>
		$(document).ready(function(){
				$('.sidenav').sidenav();
				$('.collapsible').collapsible();
				$('.modal').modal();
				$('.modal-trigger').modal();
		});
		</script>

	</body>
</html>