<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Mis Pacientes</title>

<!-- Change made by Alejandro Cancelo Correia -->
<th:block th:replace="fragments/head :: header"></th:block>
<!-- ########################################### -->

<link
	href="https://fonts.googleapis.com/css?family=Muli|Oswald&display=swap"
	rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<link rel="stylesheet"
	href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>

	<!-- Change made by Alejandro Cancelo Correia -->
	<th:block th:replace="fragments/nav :: nav"></th:block>
	<!-- ########################################### -->

	<!-- Menú desplegable mobile-->

	<ul class="sidenav" id="mobile-demo">
		<li><a>Mis citas</a></li>
		<li><a href="estadisticasPaciente">Estadisticas</a></li>
		<li class="active"><a href="ajustesPaciente">Ajustes</a></li>
		<li><a>Cerrar sesión</a></li>
	</ul>

	<h4 class="center-align">Ajustes de <spam th:text="${user.firstName}"></spam></h4>

	<div class="card">
		<div class="card-content">
			<span class="card-title" th:text="${user.firstName}"></span>
			<div class="row valign-wrapper">
				<div class="col s4">
					<img src="image/ejemplo.jpg" alt="" class="responsive-img">
				</div>
				<div class="col s8">
					<h4>Tu psicolog@${user.psychologist.firstName}</h4>
					<p>Nombre:<spam th:text="${user.psychologist.firstName}"></spam></p>
					<p>Apellidos:<spam th:text="${user.psychologist.lastName}"></spam></p>
					<p>Correo electrónico: <spam th:text="${user.psychologist.mail}"></spam></p>
					<p>Horario: 9:00-17:00</p>
				</div>
			</div>
		

	</div>
	</div>
		<div class="card-action">
			<a href="#">Contactar</a> <a href="#modal2">Cambio de psicólogo</a>
		</div>
	<div id="modal2" class="modal">
		<div class="modal-content">
			<h4>Cita grupal</h4>
			<p>A bunch of text</p>
		</div>
		<div class="modal-footer">
			<a href="#!" class="modal-close waves-effect waves-green btn-flat">Aceptar</a>
		</div>
	</div>

<!-- Change made by Alejandro Cancelo Correia -->
	<th:block th:replace="fragments/footer :: jslibs"></th:block>
<!-- ########################################### -->

	<script src="js/vendor/schedule-util.js"></script>
	<script src="js/vendor/schedule-main.js"></script>

	<script src="js/main.js"></script>
	<script>
		$(document).ready(function() {
			$('.sidenav').sidenav();
			var x = document.getElementsByClassName(".modal");
			x.modal();
			//$('.modal').modal();
			$('.trigger-modal').modal();
		});
		</script>
		</body>
</html>
