<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Mi horario</title>
	<link rel="stylesheet" href="css/general.css">
  </head>
  <body>
    <div class="header">
        <img class="logo" src= "image/Logo.jpg">
         <div class="header-right">
          <a class="active" href="index.html">Home</a>
          <a href="miHorarioPsicologo.html">Mi horario</a>
          <a href="crearCitaGrupal.html">Crear cita grupal</a>
          <a href="paciente">Paciente</a>
          <a class="logout" href="#log-out">Log-out</a>
        </div>

  </div>
  <div class="header-right">
    <br>
    <strong>Bienvenido:</strong>
    <a href="#miperfil"> David Peña.</a>
</div>
<div>
<img id="psicologos-img" src="image/usuarioPlantilla.jpg"/></td>
</div>

<div id="datosPsicologo">
    <strong >Nombre:</strong>  Marcos Gómez.<br>
    <strong >Sueldo:</strong> 2000.<br>
    <strong >Horas trabajadas:</strong>  13.<br>
    <strong >Horario:</strong> <br><br>
    <table id="horario">
        <tr id="cabecera">
            <th>Paciente</th>
            <th>Horario</th>
            <th>Detalles</th>
            <th>Tipo de terapia</th>


        </tr>
        <tr id="cuerpopar">
            <td> Marcos Gómez</td>
            <td> 11:00-12:00</td>
            <td></td>
            <td>Individual</td>

        </tr>
        <tr id="cuerpoimpar">
            <td> David Peña</td>
            <td> 12:00-13:00</td>
            <td></td>
            <td>Individual</td>

        </tr>
        <tr id="cuerpopar">
            <td> Grupo 1</td>
            <td> 15:00-17:00</td>
            <td>Estrés</td>
            <td>Grupal</td>

        </tr>
</div>
</body>
</html>
