<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<title>Estadisticas del paciente</title>
<link rel=Stylesheet2 href=estadisticasPaciente.css>
<link rel=Stylesheet href=calendario.css>
</head>
<body align="center">
	<br>
	<p>
		tipo de vista: <select name="vistas">
			<option value="mensual">mensual</option>
			<option value="medica">medica</option>
		</select>
	</p>
	<br>
	<div id="fechaactual">
		<i onclick="actualizar()">HOY: </i>
	</div>
	<div id="buscafecha">
		<form action="#" name="buscar">
			<p>
				Buscar MES <select name="buscames">
					<option value="0">Enero</option>
					<option value="1">Febrero</option>
					<option value="2">Marzo</option>
					<option value="3">Abril</option>
					<option value="4">Mayo</option>
					<option value="5">Junio</option>
					<option value="6">Julio</option>
					<option value="7">Agosto</option>
					<option value="8">Septiembre</option>
					<option value="9">Octubre</option>
					<option value="10">Noviembre</option>
					<option value="11">Diciembre</option>
				</select> AÑO <input type="text" name="buscaanno" maxlength="4" size="4"
					value="2020" /> <input type="button" value="BUSCAR"
					onclick="mifecha()" />
			</p>
		</form>
	</div>
	<div id="calendario">
		<div id="anterior" onclick="mesantes()"></div>
		<div id="posterior" onclick="mesdespues()"></div>
		<h2 id="titulos"></h2>
		<table id="diasc">
			<tr id="fila0">
				<th>Lunes</th>
				<th>Martes</th>
				<th>Miercoles</th>
				<th>Jueves</th>
				<th>Viernes</th>
				<th>Sábado</th>
				<th>Domingo</th>
			</tr>
			<tr id="fila1">
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr id="fila2">
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr id="fila3">
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr id="fila4">
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr id="fila5">
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr id="fila6">
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
		</table>

	</div>
	<br>
	<div ></div>
		<h2 id="sentir">¿como te sientes este dia?</h2>
		<button>bien</button>
		<button>regular</button>
		<button>mal</button>
		<button>fatal</button>
	</div>
</body>
</html>