<!DOCTYPE html>
<html>
	<head>
		<title>Index to templates</title>
	</head>
		<body>
		<h1>Elige tu personaje</h1>
		<div th:if="${application.debug}">
			<form th:action="@{/login}" method="post">
				<input type="hidden" name="username" value="ucmh@ucm.es">
				<input type="hidden" name="password" value="aa">
				<button type="submit">Alfred (admin)</button>
			</form>				
			<form th:action="@{/login}" method="post">
				<input type="hidden" name="username" value="alex@alex.es">
				<input type="hidden" name="password" value="aa">
				<button type="submit">Alex (psy)</button>
			</form>				
			<form th:action="@{/login}" method="post">
				<input type="hidden" name="username" value='pacoelmagias@elmundomagico.es'>
				<input type="hidden" name="password" value='aa'>
				<button type="submit">Paco (paciente)</button>
			</form>	
		</div>

  	    <h1>Elige tu pantalla</h1>
		<ul>
		<!-- 
			Q: the text selector here doesn't work and i don't know why 
			A: you have removed an important file (Messages_XYZ.properties contaned #-messages for language XYZ)
		-->
			<li>Welcome <span th:text="#{index.welcome}">debugger</span></li>
			<li style='list-style-type: none;'><b>See user templates</b></li>
			<li><a href="ajustesPaciente" th:href="@{user/10/ajustes}">ajustesPaciente</a></li>
			<li><a href="misCitas" th:href="@{user/10/pagina-principal}">misCitas</a></li>
			<li><a href="estadisticasPaciente" th:href="@{user/10/estadisticas}">estadisticasPaciente</a></li>
			<li style='list-style-type: none;'><b>See psychologist templates</b></li>
			<li><a href="crearCitaGrupal">crearCitaGrupal???</a></li>
			<li><a href="miHorarioPsicologo">miHorarioPsicologo</a></li>
			<li><a href="descripcionDeCita">descripcionDeCita</a></li>
			<li><a href="misPacientes" th:href="@{psy}">misPacientes</a></li>
			<li><a href="horarioPsicologo">horarioPsicologo</a></li>
			<li style='list-style-type: none;'><b>See admin template</b></li>
			<li><a href="admin" th:href="@{admin}">admin</a></li>
			<li style='list-style-type: none'> See message templates </li>
			<li><a href="mensajesReEn.html" th:href="@{admin/1/messages}" >message</a> </li>
		</ul>
	</body>
</html>