<!DOCTYPE html>
<html>
	<head>
		<title>Index to templates</title>
	</head>
	<body>
		<ul>
			<li style='list-style-type: none;'><b>See user templates</b></li>
			<li><a href="ajustesPaciente">ajustesPaciente</a></li>
			<li><a href="misCitas">misCitas</a></li>
			<li><a href="estadisticasPaciente">estadisticasPaciente</a></li>
			<li style='list-style-type: none;'><b>See psychologist templates</b></li>
			<li><a href="crearCitaGrupal">crearCitaGrupal</a></li>
			<li><a href="miHorarioPsicologo">miHorarioPsicologo</a></li>
			<li><a href="descripcionDeCita">descripcionDeCita</a></li>
			<li><a href="horarioPsicologo">horarioPsicologo</a></li>
			<li style='list-style-type: none;'><b>See admin template</b></li>
			<li><a href="admin">admin</a></li>
		</ul>
	</body>
</html>