<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>Admin</title>
			
		<th:block th:replace="fragments/head :: head"></th:block>
		
		<link rel="stylesheet" href="/css/messages.css">
				
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Muli|Oswald&display=swap" rel="stylesheet">

		<meta name="theme-color" content="#fafafa">

	</head>
	<body>
		<!-- reference about the use of data-* https://developer.mozilla.org/en-US/docs/Learn/HTML/Howto/Use_data_attributes -->
		<span id="user-message-owner" data-user-owner="" th:attr="data-user-owner=${user.firstName}"></span>
		
		<th:block th:replace="fragments/nav :: nav"></th:block>
		
		<h4 class="center-align">Panel de mensajes de <span th:text="${user.firstName}"></span></h4>
		
		<div class="row">
			<div class="col s5">
			
				<div class="receive-message-header">
					<div class="users-results">
						<p>Lista de mensajes recibidos</p>
					</div>
				</div>
				
				<ul id="users-collection" class="card collection">
					
					<!-- The structure of this list will be change, do not create any dependency -->
					<li class="collection-item avatar user-info-wrap" th:each="sender : ${receive_messages}">
						<div class="user-info">
							<span class="" th:class="!${sender.isDirty()} ? 'new badge dirty-flag-box' : 'dirty-flag-box'"></span>
		          <img src="/image/ejemplo.jpg" alt="" class="circle">
		          <p class="sender-name" th:text="${sender.from}"></p>
		          <p class="initial-content" th:text="|${#strings.substring(sender.msg.getLast().text, 0, 15)}...|"></p>
						</div>
		       </li>
		       
		    	</ul>
		    	
			</div>	
				
				
			<div class="col s6 text-chat card-panel">
				<div class="header-msg-info">
					<span id="user-name-chat">paco</span>
				</div>
				<div class="body-msg">
					<div id="chat-box" class="chat-container">
					<!-- 
						<div class=message-wrap>
							<div class="message-from">
								<div class="message-owner">paco</div>
								<div class="message-content">
									oaiuhdsoshaoahofhfaifhasaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
								</div>
							</div>
						</div>
						
						<div class=message-wrap>
							<div class="message-to">
								<div class="message-owner">tu</div>
								<div class="message-content">
									oaiuhdsoshaoahofhfaifhas
								</div>
							</div>
						</div>
						
						 -->
					</div>
				</div>
				<div class="footer-msg-input">
					<div id="text-input" contenteditable="true" placeholder="Escribe algo..." spellcheck="false"></div>
				</div>
			</div>
				
			
		</div>
		
		<script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/@stomp/stompjs@5.0.0/bundles/stomp.umd.min.js"></script>
		
		<th:block th:replace="fragments/footer :: jslibs"></th:block>
		
	  <script src="/js/messages.js"></script>

		<script>
		$(document).ready(function(){
				$('.sidenav').sidenav();
				$('.collapsible').collapsible();
				$('.modal').modal();
				$('.modal-trigger').modal();

		});
		</script>
	</body>
</html>