<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Mi horario</title>
	<link rel="stylesheet" href="css/general.css">
  </head>
  <body>
    <div class="header">
        <img class="logo" src= "../static/image/Logo.jpg">
         <div class="header-right">
          <a class="active" href="index.html">Home</a>
          <a href="miHorarioPsicologo.html">Mi horario</a>
          <a href="crearCitaGrupal.html">Crear cita grupal</a>
          <a href="paciente">Paciente</a>
          <a class="logout" href="#log-out">Log-out</a>
        </div>
        
  </div> 
  <div class="header-right">
    <br>
    <strong>Bienvenida:</strong>
    <a href="#miperfil"> Alba Fernndez.</a>
</div> 

    <div class="texto" >Seleccione una fecha:
    </div>

      <div id="buscafecha">
        <form action="#" name="buscar">
          <p>
            Día <select name="buscadia">
              <option value="0">1</option>
              <option value="1">2</option>
              <option value="2">3</option>
              <option value="3">4</option>
              <option value="4">5</option>
              <option value="5">6</option>
              <option value="6">7</option>
              <option value="7">8</option>
              <option value="8">9</option>
              <option value="9">10</option>
              <option value="10">11</option>
              <option value="11">12</option>
              <option value="12">13</option>
              <option value="13">14</option>
              <option value="14">15</option>
              <option value="15">16</option>
              <option value="16">17</option>
              <option value="17">18</option>
              <option value="18">19</option>
              <option value="19">20</option>
              <option value="20">21</option>
              <option value="21">22</option>
              <option value="22">23</option>
              <option value="23">24</option>
              <option value="24">25</option>
              <option value="25">26</option>
              <option value="26">27</option>
              <option value="27">28</option>
              <option value="28">29</option>
              <option value="29">30</option>
              <option value="30">31</option>
              
            </select> 
              Mes <select name="buscames">
                <option value="0">Enero</option>
                <option value="1">Febrero</option>
                <option value="2">Marzo</option>
                <option value="3">Abril</option>
                <option value="4">Mayo</option>
                <option value="5">Junio</option>
                <option value="6">Julio</option>
                <option value="7">Agosto</option>
                <option value="8">Septiembre</option>
                <option value="9">Octubre</option>
                <option value="10">Noviembre</option>
                <option value="11">Diciembre</option>
  
            </select> 
            Año <input type="text" name="buscaanno" maxlength="4" size="4"
              value="2020" /> <input type="button" value="BUSCAR"
              onclick="mifecha()" />
          </p>
        </form>
      </div>

    <table id="citas">
        <tr id="cabecera">
            <th>Paciente</th>
            <th>Horario</th>
            <th>Detalles</th>
            <th>Tipo de terapia</th>
            <th>Enviar mensaje</th>

        </tr>
        <tr id="cuerpopar">
            <td> Marcos Gómez</td>
            <td> 11:00-12:00</td>
            <td></td>
            <td>Individual</td>
            <td><a  href="#mensajes"><img id="mensaje-img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSXGD_y_xsvlSWaxJAmANcvus8exryqYo10-oHLrGrkkCvhF1Z9"/></a></td>

        </tr>
        <tr id="cuerpoimpar">
            <td> David Peña</td>
            <td> 12:00-13:00</td>
            <td></td>
            <td>Individual</td>
            <td ><a  href="#mensajes"><img id="mensaje-img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSXGD_y_xsvlSWaxJAmANcvus8exryqYo10-oHLrGrkkCvhF1Z9"/></a></td>

        </tr>
        <tr id="cuerpopar">
            <td> Grupo 1</td>
            <td> 15:00-17:00</td>
            <td>Estrés</td>
            <td>Grupal</td>
            <td><a  href="#mensajes"><img id="mensaje-img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSXGD_y_xsvlSWaxJAmANcvus8exryqYo10-oHLrGrkkCvhF1Z9"/></a></td>

        </tr>
  </body>
</html>