<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Mis Pacientes</title>

    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/materialize.css">
    <link rel="stylesheet" href="/css/my-theme.css">
    <link href="https://fonts.googleapis.com/css?family=Muli|Oswald&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  </head>
  <body>

    <nav id="menu">
      <div class="nav-wrapper">
        <a href="#" id="logo" class="brand-logo">UCMH</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="horarioPsicologo">Mi horario</a></li>
            <li class="active"> <a> Pacientes de <span th:text ="${psychologist.firstName}"> Pepe </span> </a></li>
            <a class="waves-effect waves-light btn">Cerrar sesión</a>
        </ul>
      </div>
    </nav>

    <ul class="sidenav" id="mobile-demo">
       <li><a href="horarioPsicologo">Mi horario</a></li>
       <li class="active"><a>Pacientes</a></li>
       <li><a>Cerrar sesión</a></li>
     </ul>


    <h4 class="center-align">Mis pacientes</h4>

    <div class="row">

      <div class="col s6">
        <ul class="collection" >
        <table>
        <tr th:if="${pacientes.empty}">
        	<td colspan="2"> No hay pacientes </td>
        </tr>
        <tr th:each="u, itemstat: *{pacientes}">
        <td></td>
        <td>
	        <li class="collection-item avatar">
	          <img src="image/ejemplo_opt.jpg" alt="" class="circle">
	          <span class = "title" th:text="${u.firstName}"> Title </span>
	          <span class = "title" th:text="${u.lastName}"> Title </span>
	          <p>
	          <span class = "title" th:text="${u.mail}"> Title </span><br>
	          <span class = "title" th:text="${u.phoneNumber}"> Title </span><br>
	          </p>
	          <p>Trastorno de ansiedad <br>
	             Receta: Pastillas fuertes
	          </p>
	          <form action="#" th:action="@{/modify/{id}(id=${u.id})}" method="post" th:object="${u}">
	             <span class = "title" th:text="${u.firstName}"> Title </span>
	          	<!-- <p>Nombre: <input type = "text" th:field = "*{firstName}"/></p> -->
	          </form>
	          <a th:id="${u.id}" class="secondary-content pacientBTN"><i class="material-icons">face</i></a>
	        </li>
	    </td>
        </tr>
        </table>
      </ul>
    </div>

    <div class="col s6">
      <div class="card">
        <div class="card-content">
          <span class="card-title" id="pacientName"></span>
            <div class ="row valign-wrapper">
              <div class="col s4">
                <img src="image/ejemplo.jpg" alt="" class="responsive-img">
              </div>
              <div class="col s8">
              <form action="#" method="post">
	             <span class = "title"></span>
	          	 <p>Trastorno: <input type = "text" id="pacientDisorder"/></p>
	          	 <p>Tratamiento: <input type = "text" id="pacientTreatment"/></p>
	          	 <a class="savePacient" href="#">Guardar cambios</a>
	          </form>
              <p id=""></p>
              </div>
            </div>
          </div>
        <div class="card-action">
          <a href="#">Contactar</a>
          <a href="#">Nueva cita</a>
        </div>
      </div>
    </div>

    <!-- Menú desplegable mobile-->

   <!--

    <div>
    <table id = "Pacientes">
        <caption id="PacientesMaria Antonia">MIS PACIENTES</caption>
        <tr>
            <th>FOTO</th>
            <th>NOMBRE</th>
        </tr>
        <tr>
          <td class = "ProfilePictures"><img src = "img/Profile.png"></img></td>
          <td class = "ProfileNames"><p>Felipe de Borbón</p><i class="material-icons">attachment</i></td>
      </tr>
      <tr>
        <td class = "ProfilePictures"><img src = "img/Profile.png"></img></td>
        <td class = "ProfileNames"><p>Quentin Tarantino</p> <i class="material-icons">attachment</i></td>
    </tr>
    <tr>
      <td class = "ProfilePictures"><img src = "img/Profile.png"></img></td>
      <td class = "ProfileNames"><p>Bad Gyal</p><i class="material-icons">attachment</i></td>
  </tr>
    </table>

    <table id = "Detalles">
      <caption id="PacientesMaria Antonia">DETALLES</caption>
      <tr>
      <td>
        <p>Nombre: Bad Gyal</p>
      </td>
    </tr>
    <tr>
      <td>
        <p>Notas generales: vkmrvmrm</p>
      </td>
    </tr>
    <tr>
      <td>
        <p>Estadística Media: Regulero</p>
      </td>
    </tr>
    <tr>
      <td>
        <img src = "img/Profile.png"></img>
      </td>
    </tr>
    </table>
  </div> -->

  <script src="js/vendor/modernizr-3.8.0.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script>window.jQuery || document.write('<script src="js/vendor/jquery-3.4.1.min.js"><\/script>')</script>
  <script src="js/plugins.js"></script>
  <script src="js/vendor/materialize.min.js"></script>

  <script src="js/main.js"></script>

  <script>
  //$(document).ready(function(){
    //  $('.sidenav').sidenav();
 // });
  </script>

  <script type="text/javascript">
  $( ".pacientBTN" ).click(function(e) {
	  var id = $(this).attr("id");
	  $.ajax({
		  method: "GET",
		  url: "/pacient/" + id,
		  data: {}
		})
		  .done(function( msg ) {
			  $("#pacientName").text(msg.firstName + " " + msg.lastName);
			  $("#pacientDisorder").val(msg.disorder);
			  $("#pacientTreatment").val(msg.treatment);
			  //Es un punto porque es una clase y no un id
			  $(".savePacient").attr("id", id); 
		  });
	});
  </script>
  
  <script type="text/javascript">
  $( ".savePacient" ).click(function(e) {
	  var id = $(this).attr("id");
	  var disorderB = $("#pacientDisorder").val();
	  var treatmentB = $("#pacientTreatment").val();
	  $.ajax({
		  method: "POST",
		  url: "/modify/" + id,
		  data: {disorder : disorderB, treatment : treatmentB}
	  })
	  .done(function( msg ) {
		  alert("Cambios guardados");
	  });
  });
  </script>

  </body>
</html>
