<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Mis Pacientes</title>
    <link rel="stylesheet" href="css/MisPacientes.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  </head>
  <body>
    <nav>
        <ul id="Barra">
            <li class="elemBarra"><a>Mi horario</a></li>
            <li class="elemBarra"><a>Crear cita grupal</a></li>
            <li class="elemBarra"><a>Pacientes</a></li>
        </ul>
    </nav>
    <div>
    <table id = "Pacientes">
        <caption id="PacientesTitle">MIS PACIENTES</caption>
        <tr>
            <th>FOTO</th>
            <th>NOMBRE</th>
        </tr>
        <tr>
          <td class = "ProfilePictures"><img src = "img/Profile.png"></img></td>
          <td class = "ProfileNames"><p>Felipe de Borbón</p><i class="material-icons">attachment</i></td>
      </tr>
      <tr>
        <td class = "ProfilePictures"><img src = "img/Profile.png"></img></td>
        <td class = "ProfileNames"><p>Quentin Tarantino</p> <i class="material-icons">attachment</i></td>
    </tr>
    <tr>
      <td class = "ProfilePictures"><img src = "img/Profile.png"></img></td>
      <td class = "ProfileNames"><p>Bad Gyal</p><i class="material-icons">attachment</i></td>
  </tr>
    </table>

    <table id = "Detalles">
      <caption id="PacientesTitle">DETALLES</caption>
      <tr>
      <td>
        <p>Nombre: Bad Gyal</p>
      </td>
    </tr>
    <tr>
      <td>
        <p>Notas generales: vkmrvmrm</p>
      </td>
    </tr>
    <tr>
      <td>
        <p>Estadística Media: Regulero</p>
      </td>
    </tr>
    <tr>
      <td>
        <img src = "img/Profile.png"></img>
      </td>
    </tr>
    </table>  
  </div>
  </body>
</html>
