<!doctype html>
<!-- License: https://codyhouse.co/mit -->
<html class="no-js" lang="es">
<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <!-- Change made by Alejandro Cancelo Correia -->
	<th:block th:replace="fragments/head :: header"></th:block>
	<!-- ########################################### -->

  <link href="https://fonts.googleapis.com/css?family=Muli|Oswald&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <meta name="theme-color" content="#fafafa">
</head>

<body>
	
	<!-- Change made by Alejandro Cancelo Correia -->
	<th:block th:replace="fragments/nav :: nav"></th:block>
	<!-- ########################################### -->
	
  
			<div class="col s6">
				<ul>
				  <li>
				    <div class="collapsible-header">
				      <p class="user-type-header">
				      	Citas
				      </p>
				    </div>
				  </li>
				  <li>
				    <div >
							<ul id="psychologist-collection" class="card collection">
							
								<li class="collection-item avatar" th:each="appn : ${appnList}">
									<div class="user-info">
					          <p>Nombre: <span class="user-id" th:text="|${appn.userName}|"></span></p>
					          <p>E-mail: <span th:text="${appn.userMail}"></span></p>
										<p>Hora: <span id="appn-date" th:text="${appn.date}"></span></p>
									</div>
									<div class="user-delete">
										<button class="delete-appn waves-effect waves-red-darken-4 red lighten-4 btn-flat"
														th:attr="data-user-mail=${appn.userMail}, data-user-date=${appn.date}">
											Borrar cita
										</button>
										<a href="#modal1"
										   class="modal-trigger contac-pat waves-effect waves-purple-darken-4 purple lighten-2 btn-flat"
											 th:attr="data-user-mail=${appn.userMail}">
											Contactar
										</a>
									</div>
				        </li>
				        
			      	</ul>
						</div>
				  </li>
				</ul>
			</div>
			
	<div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Escribe un mensaje</h4>
      <textarea id="message" placeholder="escribe a este usuario" rows="4" cols="20"></textarea>
    </div>
    <div class="modal-footer">
      <button class="modal-close waves-effect waves-red btn-flat red">Cancelar</button>
      <button id="send-msg"class="waves-effect waves-green btn-flat green">Aceptar</button>
    </div>
  </div>
  
  <!-- Change made by Alejandro Cancelo Correia -->
	<th:block th:replace="fragments/footer :: jslibs"></th:block>
	<!-- ########################################### -->
  <script src="/js/psy-appointments.js"></script>
  <script src="/js/notification.js"></script>
  <script>
  $(document).ready(function(){
      $('.modal').modal();
      $('.trigger-modal').modal();
    });
  </script>
  <style>
  	#appn-date {
  		background-color: #EFD79E;
  		border-radius: 3px;
  	}
		div.users-more-results {
			text-align: center;
		}
		div.users-results {
			display: inline-block;
		}
  </style>
</body>

</html>
