@charset "UTF-8";
.psychologist_view, .pacients_view { 
	border: 1px solid gray; 
}
.psychologist_view p, .pacients_view p {
	display: inline;
}
.psychologist_view {
	margin-bottom: 20px;
	
}

div.users-more-results {
	text-align: center;
}
div.users-results {
	display: inline-block;
}

.user-info, .user-delete {
	display: inline-block;
}
.user-delete {
	float: right;
	margin-right: 0;
	margin-left: auto;
}
.result-register {
	color: green;
	display: inline-block;
	margin-right: 50px;
}

.error-msg-pat, .error-msg-psy {
	display: none;
	background-color: rgb(255, 232, 232);
	border: 1px solid red;
	color: red;
}

/*
this is called attribute selector, more info in mdn.
https://developer.mozilla.org/en-US/docs/Web/CSS/Attribute_selectors
*/
input[class^="type-input-"] {
	display: none;
}
