@charset "UTF-8";
.psychologist_view, .pacients_view { 
	border: 1px solid gray; 
}
.psychologist_view p, .pacients_view p {
	display: inline;
}
.psychologist_view {
	margin-bottom: 20px;
	
}

div.users-more-results {
	text-align: center;
}
div.users-results {
	display: inline-block;
}

.user-info, .user-delete {
	display: inline-block;
}
.user-delete {
	float: right;
	margin-right: 0;
	margin-left: auto;
}
