.sender-id{
	display: none;
}

#user-message-owner{
	display: none;
}

.receive-message-header{
	text-align: center;
}

#users-collection {
	height: 742px;
	overflow: scroll;
	overflow-x: hidden; 
}

.user-info-wrap:hover {
	background-color: rgb(189, 189, 189);
}

.text-chat {
	margin-left: 90px !important;
	padding: 0 0 !important;
}

.header-msg-info {
	background-color: rgb(227, 227, 232);
	padding-top: 5px;
	padding-bottom: 10px;
}

#user-name-chat {
	padding-left: 40px;
}

.body-msg {
	height: 715px;
}			

.chat-container {
	overflow: scroll;
	overflow-x: hidden;
	height: inherit;
}

.message-wrap {
	max-width: 75%;
	padding: 13px 0 0 7px;
}

.message-to, .message-from {
	max-width: inherit;
	padding: 3px 5px;
	border-radius: 5px;
	border: 1px solid black;
	display: inline-block;
	/*
	info about it: https://stackoverflow.com/questions/3058866/how-to-force-a-line-break-in-a-long-word-in-a-div\
	*/
	overflow-wrap: break-word;  
}

.message-to .message-owner, .message-to .message-content {
	text-align: left !important;
}

.footer-msg-input {
	padding-left: 60px;
	padding-top: 10px;
	padding-bottom: 10px;
}

/*
those (class-name | id | html-tag):name are called pseudo-classes
more info: https://developer.mozilla.org/en-US/docs/Web/CSS/Pseudo-classes

this expression here represent *ROUGHLY SPEAKING* the following statement:
 ~to every html tag that has class="text-input" attribute and it doesn't have
  childrens or text and it is noT focused, add one child that will be 
  considered the first child (always) with the content of the placeholder attribute's value~
  
*/
#text-input:empty:not(:focus)::before{
 		content:attr(placeholder);
}

#text-input:focus {
	outline: none;
}

#text-input {
	text-align: left;
	display: inline-block;
	width: 65%;
	height: 100%;
	border: 0;
	box-shadow: 0px 1px 0px rgb(204, 204, 255)
}